.best {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    overflow: hidden;
}

.best div h1 {
    position: absolute;
    left: 0;
    font-size: 80px;
    text-transform: uppercase;
    color: white;
    white-space: nowrap;
    font-family: "Poppins";
    animation: animate 120s linear infinite;
    -webkit-text-fill-color: black; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    letter-spacing: 2px;
}

@keyframes animate {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 500px) {
    .best div h1 {
        font-size: 100px;
    }
}